@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.header,
.hero {
    display: flex;
    padding: 20px;
    background-color: #1F2937;
}

.header {
    justify-content: space-around;
    background-color: #1F2937;
    color: #F9FAF8;
}
.header .links {
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 10px;
}
.header .links a {
    color: #E5E7EB;
    text-decoration: none;
}
.header .left {
    flex: 1 1 auto;
    max-width: 524px;
}

.hero {
    color: #F9FAF8;
    justify-content: space-around;
}
.hero .left {
    max-width: 400px;
}
.hero .right {
    max-width: 524px;
}

.hero button {
    background-color: #3882F6;
    text-align: center;
    padding: 8px 12px;
    color: #E5E7EB;

    border-radius: 5px;
    border-style: none;
}