@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.header,
.hero {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    padding-bottom: 50px;
    background-color: #1F2937;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
}
.header .links {
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 20px;
}
.header .links a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}
.header .left,
.header .right {
    max-width: 550px;
}
.header .left {
    flex: 1;
}
.logo {
    font-size: 24px;
}

.hero {
    color: #F9FAF8;
}
.hero .left,
.hero .right {
    max-width: 500px;
}
.hero h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}
.hero p {
    padding-right: 20px;
    font-size: 18px;
    color: #E5E7EB;
}
.hero button {
    background-color: #3882F6;
    text-align: center;
    padding: 8px 12px;
    color: #E5E7EB;

    border-radius: 5px;
    border-style: none;
}

